{% extends 'shop/base.html' %}
{% block content %}
<h2>Featured Products</h2>
<div class="product-list">
    {% for product in products %}
    <div class="product-card">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% endif %}
        <h3>{{ product.name }}</h3>
        <p class="product-description">{{ product.description }}</p>
        <p class="product-price">₹{{ product.price }}</p>
        <!-- <button>Add to Cart</button> -->
        <a href="{% url 'add_to_cart' product.id %}" class="btn-add-to-cart">Add to Cart</a>
    </div>
    {% empty %}
    <p>No products available.</p>
    {% endfor %}
</div>
{% endblock %}
